body {
  font-family: $FONT_BASE;
  font-size: $FSIZE_BASE;
  line-height: $LINE_HEIGHT;
}
// SP
@media screen and (max-width: 767px) {
  .section {}
  .section__inner {
    padding: 40px 8vw;
  }
  .section__heading {
    margin-bottom: 20px;
  }
  .section__title {
    font-size: $FSIZE_H2;
    font-weight: bold;
    color: $COLOR_PRIMARY;
    &:not(:only-child) {
      margin-bottom: 15px;
    }
    span {
      font-size: 16px;
      color: #000000;
    }
  }
  .section__text {
    text-align: center;
  }
  .section__container {}
  .section__block {
    &:not(:first-child) {
      margin-top: 60px;
    }
  }
}
// PC
@media screen and (min-width: 768px) {
  .section {}
  .section__inner {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
  }
  .section__heading {
    margin-bottom: 30px;
  }
  .section__title {
    font-size: $FSIZE_H2_PC;
    font-weight: bold;
    color: $COLOR_PRIMARY;
    &:not(:only-child) {
      margin-bottom: 20px;
    }
    span {
      font-size: 18px;
      color: #000000;
    }
  }
  .section__text {}
  .section__container {}
  .section__block {
    &:not(:first-child) {
      margin-top: 60px;
    }
  }
}