// Color
$COLOR_PRIMARY: #DC552C;
$COLOR_SECONDARY: #474D69;
$COLOR_TERTIARY: #FCFCE3;
$COLOR_GRADATION: linear-gradient(45deg, #FF9C48, #FF713C);

// Font
$FSIZE_BASE: 14px;
$FSIZE_BASE_PC: 16px;
$FSIZE_H1: 30px;
$FSIZE_H1_PC: 42px;
$FSIZE_H2: 22px;
$FSIZE_H2_PC: 28px;
$FSIZE_H3: 18px;
$FSIZE_H3_PC: 20px;
$FSIZE_H4: 16px;
$FSIZE_H4_PC: 18px;

$LINE_HEIGHT: 1.5;

$FONT_BASE: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "Noto Sans", sans-serif;